/* top bar */
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .inner-addon-element {
    position: absolute;
    padding: 10px;
    cursor: pointer;
    z-index: 500;
}

/* align icon */
.left-addon .inner-addon-element {
    left: 0px;
}
.right-addon .inner-addon-element {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}
.right-addon input {
    padding-right: 30px;
}

.page-title {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.page-sub-header {
    margin-bottom: 1.5rem;
}

/* Datatables orerides */
.dtTable thead tr th {
    letter-spacing: normal;
    font-size: 14px;
    text-transform: none;
    text-align: center !important;
    font-weight: 500;
    color: #000000 !important;
}

/* Avatar icon dot */
.dot::after {
    content: "";
    background-color: orange;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    z-index: 5000;
    margin-left: 40%;
}

.avatar-icon {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

/* Avatar icon dot */
.page-item .active,
.page-link:hover,
.page-item.active .page-link {
    background-color: #50af47 !important;
    border-color: #50af47 !important;
    color: white !important;
}
.app-brand .layout-cus-menu-toggle {
    background-color: #50af47 !important;
}