.userfooter{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: var(--success);
   
}

.userAvatar{
    display: flex;
}

.userDetail{
    margin-left: 15px;
}

.sideNav{
    margin-left: 40px;
}

img{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: var(--success);
}